<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.inovett.bmicalendar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".WelcomeScreenActivity1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_elcome_screen1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WelcomeScreenActivity2"
            android:label="@string/title_activity_welcome_screen2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WelcomeScreenActivity3"
            android:label="@string/title_activity_welcome_screen3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WelcomeScreenActivity4"
            android:label="@string/title_activity_welcome_screen4"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WelcomeScreenActivity5"
            android:label="@string/title_activity_welcome_screen5"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".CalendarActivity"></activity>
    </application>

</manifest>